[submodule ".config/alacritty/catppuccin.git"]
	path = .config/alacritty/catppuccin.git
	url = https://github.com/catppuccin/alacritty.git
[submodule ".config/superfile/catppuccin.git"]
	path = .config/superfile/catppuccin.git
	url = https://github.com/catppuccin/superfile.git
[submodule ".config/hypr/themes/catppuccin.git"]
	path = .config/hypr/themes/catppuccin.git
	url = https://github.com/catppuccin/hyprland.git
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".config/tmux/plugins/catppuccin"]
	path = .config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
